{% extends 'base.html' %}
{% load staticfiles %}
{%block title %} <title>events</title>{% endblock %}
{% block body %} <br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h2>About this site!</h2>
        </div>
    </div> <br>
        <div class="row justify-content-center">
        <div class="col-lg-10" style="text-align: justify !important;">
            <p>A step by step process to create a Web Application in Python Django Web Framework and
            deploy on heroku app(SaaS).</p>
        </div>
    </div>
</div>

{% endblock %}