{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 
	<title>password link</title>
	<style type="text/css">
    form{
        background-color: white;
        border-radius: 5px;
        padding: 20px;
    }
    ul{
        list-style-type: none;
    }
        
   
</style>
{% endblock %}
{% block body %}
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <form method="POST">
                       <div class="form-group text-center">
                           <h3>forgot password</h3><hr>
                       </div>
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-warning btn-small btn-block">send reset link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>	
	{% endblock %}